@media screen and (max-width: 500px) {
  .menu {
    display: none;  
  }
  .menu ul {
    flex-direction: column;
  }
  .menu-toggle {
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu li {
    padding: 0.5rem;
  }
  .menu li.dropdown ul li {
    padding: 0.5rem;
  }
  .search {
    display: flex;
    height: 2rem;
    margin-left: 2rem;
  }
  .search input {
    margin-right: 0.2rem;
    margin: 0.5rem;
    margin-right: -1rem;
  }
  .search i {
    padding: 0.4rem;
  }
  .toggle-button {
    display: block;
    margin-left: 1rem;
  }
  .show {
    display: block;
  }
}
/* larger 500px */
@media screen and (min-width: 501px) and (max-width: 600px) {
  .menu {
    display: none;  
  }
  .menu ul {
    flex-direction: column;
  }
  .menu-toggle {
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu li {
    padding: 0.5rem;
  }
  .menu li.dropdown ul li {
    padding: 0.5rem;
  }
  .search {
    display: flex;
    height: 2rem;
    margin-left: 2rem;
  }
  .search input {
    margin-right: 0.2rem;
    margin: 0.5rem;
    margin-right: -1rem;
  }
  .search i {
    padding: 0.4rem;
  }
  .toggle-button {
    display: block;
  }
  .show {
    display: block;
  }
}
/* larger 600px */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .menu {
    margin-left: 0.8rem;
  }
  .menu li {
    white-space: nowrap;
  }
  .menu a {
    padding: 0.4rem;
  }
  .search {
    display: flex;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 0.4rem;
  }
  .search input {
    margin-right: 0.2rem;
    margin: 0.5rem;
    margin-right: -1rem;
  }
  .search i {
    padding: 0.4rem;
  }
  .toggle-button {
    display: none;
  }
  .show {
    display: block;
  }
}
/* larger 768px */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .menu {
    margin-left: 2rem;
  }
  .menu li {
    white-space: nowrap;
  }
  .menu a {
    padding: 0.8rem;
  }
  .search {
    display: flex;
    height: 2rem;
    margin-left: 2rem;
  }
  .search input {
    margin-right: 0.2rem;
    margin: 0.5rem;
    margin-right: -1rem;
  }
  .search i {
    padding: 0.4rem;
  }
  .toggle-button {
    display: none;
  }
  .show {
    display: block;
  }
}
/* larger 992px */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .menu {
    margin-left: 8rem;
  }
  .menu li {
    white-space: nowrap;
  }
  .menu a {
    padding: 1rem;
  }
  .search {
    display: flex;
    height: 2rem;
    margin-left: 2rem;
  }
  .search input {
    margin-right: 0.2rem;
    margin: 0.5rem;
    margin-right: -1rem;
  }
  .search i {
    padding: 0.4rem;
  }
  .toggle-button {
    display: none;
  }
  .show {
    display: block;
  }
}
/* larger 1200 */
@media screen and (min-width: 1201px) {
  .logo img {
    width: 10rem;
  }
  .menu {
    margin-left: 12rem;
  }
  .menu li {
    white-space: nowrap;
  }
  .menu a {
    padding: 1.5rem;
  }
  .search {
    display: flex;
    height: 2rem;
    margin-left: 2rem;
  }
  .search input {
    margin-right: 0.2rem;
    margin: 0.5rem;
    margin-right: -1rem;
  }
  .search i {
    padding: 0.4rem;
  }
  .toggle-button {
    display: none;
  }
  .show {
    display: block;
  }
}

