* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 2rem;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
}
/* logo */
.logo {
  flex-basis: 20%;
}
.logo img {
  width: 50%;
}
/* menu */
.menu ul {
  display: flex;
}
.menu li {
  list-style-type: none;
  padding: 1rem;
}
.menu a {
  text-decoration: none;
}
.menu li.dropdown ul {
  display: none;
}
.menu li.dropdown:hover ul {
  display: block;
  position: fixed;
}
.menu li.dropdown ul li:hover {
  background-color: rgba(240, 240, 240, 0.5);
  text-decoration: underline;
  font-style: italic;
}

.search input {
  border: none;
}
.search {
  border: 1px solid black;
  height:fit-content;
}
