* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 2rem;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
}
/* logo and menu */
.left {
  display: flex;
}
/* logo */
.logo {
  flex-basis: 20%;
}
.logo img {
  width: 4rem;
}

/* menu */
.menu ul {
  display: flex;
  
}
.menu li {
  list-style-type: none;
  white-space: nowrap;
}
.menu a {
  text-decoration: none;
  padding: 2rem;
  color: navy;
}
.menu li.dropdown i {
  padding-left: 0.5rem;
}
.menu li.dropdown ul {
  display: none;
}
.menu li.dropdown ul li {
  padding: 1rem;
}
.menu li.dropdown:hover ul {
  display: block;
  position: fixed;
}
.menu li.dropdown ul li:hover {
  background-color: rgba(240, 240, 240, 0.5);
  text-decoration: underline;
  font-style: italic;
}
.menu-toggle {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}
/* search */
.search input {
  border: none;
  margin: 0.5rem;
  outline: none; /* dùng để xoá hẳn viền của input khi viết nội dung vào*/
  margin-right: 1rem;
}
.search {
  border: 1px solid black;
  height: fit-content;
  border-radius: 2rem;
}
.search i {
  color:midnightblue;
  padding: 0.4rem;
}
